# TODO: determine how we want to deal with auto-assignment
# By default, @envoyproxy/maintainers own everything.
# *       @envoyproxy/maintainers

# Windows build container config
/build_container/*windows* @envoyproxy/windows-dev
