name: Build image

permissions:
  contents: read

on:
  workflow_call:
    secrets:
      dockerhub_username:
      dockerhub_password:
      gcp_key:

    inputs:
      image_prefix:
        type: string
        default: envoyproxy/envoy-build-

      os_family:
        type: string
        default: linux

      distro:
        type: string
        required: true
      test_toolchain:
        type: boolean
        default: false
      upload_ubuntu_image:
        type: boolean
        default: false

      host_platform:
        type: string
        default: ubuntu-22.04

      go_version:
        type: string
        default: '1.16'

      gcr_push:
        type: boolean
        default: false
      gcr_name:
        type: string
        default:

jobs:
  image:
    runs-on: ${{ inputs.host_platform }}
    name: Build and test Docker image
    steps:
    - uses: envoyproxy/toolshed/gh-actions/diskspace@actions-v0.0.17
      name: 'Free disk space'
      if: ${{ inputs.os_family != 'windows' }}
    - name: 'Checkout repository'
      uses: actions/checkout@v3
    - uses: envoyproxy/toolshed/gh-actions/docker/registry@actions-v0.0.18
      if: ${{ inputs.os_family != 'windows' }}
      # (inputs.test_toolchain || inputs.upload_ubuntu_image) &&
      name: 'Start Docker registry'
    - run: |
        CONTAINER_TAG=$(git log -1 --pretty=format:"%H" "./docker")
        echo "tag=${CONTAINER_TAG}" >> "$GITHUB_OUTPUT"
      id: container
      shell: bash
      name: Container hash
    - run: |
        curl -fsSL --output "$TEMP/gcloud-sdk.zip" "$GCLOUD_SDK_ARCHIVE_URL"
        echo "${GCLOUD_SDK_ARCHIVE_CHECKSUM} $TEMP/gcloud-sdk.zip" | sha256sum --check
        unzip -q "$TEMP/gcloud-sdk.zip" -d "$PROGRAMFILES"
      name: Install gcloud (Windows)
      shell: bash
      if: ${{ inputs.os_family == 'windows' }}
      env:
        GCLOUD_SDK_ARCHIVE_URL: https://dl.google.com/dl/cloudsdk/channels/rapid/downloads/google-cloud-sdk-289.0.0-windows-x86_64.zip
        GCLOUD_SDK_ARCHIVE_CHECKSUM: c81e80040f7f609dbc50c42cd0cd402988a5c47f467372d40b5aaca0733f46f4
    - run: |
        if [[ "${{inputs.os_family }}" == "windows" ]]; then
            export PATH="${PROGRAMFILES}/google-cloud-sdk/bin:${PATH}"
        fi
        docker ps -a
        cd docker
        ./push.sh
      name: Build (${{ inputs.image_prefix }}${{ inputs.distro }}@${{ steps.container.outputs.tag }})
      shell: bash
      env:
        OS_FAMILY: ${{ inputs.os_family }}
        SOURCE_BRANCH: ${{ github.ref }}
        DOCKERHUB_USERNAME: ${{ secrets.dockerhub_username }}
        DOCKERHUB_PASSWORD: ${{ secrets.dockerhub_password }}
        GCP_SERVICE_ACCOUNT_KEY: ${{ secrets.gcp_key }}
        IMAGE_PREFIX: ${{ inputs.image_prefix }}
        OS_DISTRO: ${{ inputs.distro }}
        PUSH_GCR_IMAGE: ${{ inputs.gcr_push }}
        GCR_IMAGE_NAME: ${{ inputs.gcr_name }}
        LOAD_IMAGE: ${{ github.event_name == 'pull_request' && 'true' || 'false' }}
    - name: Set up Go
      uses: actions/setup-go@v4
      if: ${{ inputs.test_toolchain }}
      with:
        go-version: ${{ inputs.go_version }}
        cache: false
    - uses: envoyproxy/toolshed/gh-actions/docker/registry@actions-v0.0.18
      if: ${{ inputs.test_toolchain && inputs.os_family == 'windows' }}
      name: 'Start and load Docker registry (Windows)'
      with:
        image: stefanscherer/registry-windows:2.6.2
        load: envoyproxy/envoy-build-windows2019:${{ steps.container.outputs.tag }}
    - run: |
        toolchains/regenerate.sh
      if: ${{ inputs.test_toolchain }}
      shell: bash
      env:
        OS_FAMILY: ${{ inputs.os_family }}
        SOURCE_BRANCH: ${{ github.ref }}
        NO_PULL_IMAGE: true
        DOCKER_IMAGE: localhost:5000/envoy-build-${{ inputs.distro }}
    - run: |
        sudo mkdir -p /mnt/cache
        sudo mount -t tmpfs none /mnt/cache
        docker save envoyproxy/envoy-build-ubuntu:${{ steps.container.outputs.tag }}-multi \
            | zstd - -q -T0 -o /mnt/cache/envoy-build-ubuntu-${{ steps.container.outputs.tag }}.tar.zst
      if: ${{ inputs.upload_ubuntu_image }}
      shell: bash
    - uses: actions/upload-artifact@v3
      if: ${{ inputs.upload_ubuntu_image }}
      with:
        name: envoy-build-ubuntu-${{ steps.container.outputs.tag }}
        path: /mnt/cache/envoy-build-ubuntu-${{ steps.container.outputs.tag }}.tar.zst
