name: Envoy/build-tools

permissions:
  contents: read

on:
  push:
    branches:
    - main
  pull_request:

concurrency:
  group: ${{ github.event.inputs.head_ref || github.run_id }}-${{ github.workflow }}
  cancel-in-progress: true


jobs:
  build_image:
    if: >-
      ${{
          github.repository == 'envoyproxy/envoy-build-tools'
          || vars.ENVOY_CI_RUN == 'true'
      }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - target: ubuntu
          name: Linux Ubuntu
          gcr_push: true
        - target: centos
          name: Linux Centos
          gcr_push: false
        - target: windows2019
          name: Windows 2019
          gcr_push: true
          gcr_name: envoy-build-windows
          host_platform: windows-2019
          os_family: windows
    name: Build (${{ matrix.name || matrix.target }})
    uses: ./.github/workflows/_build_image.yml
    with:
      distro: ${{ matrix.target }}
      gcr_push: ${{ matrix.gcr_push }}
      gcr_name: ${{ matrix.gcr_name != '' && matrix.gcr_name || 'envoy-build' }}
      os_family: ${{ matrix.os_family != '' && matrix.os_family || 'linux' }}
      host_platform: ${{ matrix.host_platform != '' && matrix.host_platform || 'ubuntu-22.04' }}
      test_toolchain: ${{ github.event_name == 'pull_request' && matrix.target != 'centos' }}
      upload_ubuntu_image: ${{ github.event_name == 'pull_request' && matrix.target == 'ubuntu' }}
    secrets:
      dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
      dockerhub_password: ${{ secrets.DOCKERHUB_PASSWORD }}
      gcp_key: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}

  regenerate_linux:
    permissions:
      contents: write
    name: Regenerate toolchains (Linux)
    uses: ./.github/workflows/_regenerate_toolchain.yml
    if: ${{ github.event_name != 'pull_request' }}
    needs:
    - build_image
    secrets:
      bot_key: ${{ secrets.ENVOY_CI_UPDATE_BOT_KEY }}
      bot_id: ${{ secrets.ENVOY_CI_UPDATE_APP_ID }}

  regenerate_windows:
    permissions:
      contents: write
    name: Regenerate toolchains (Windows)
    uses: ./.github/workflows/_regenerate_toolchain.yml
    if: ${{ github.event_name != 'pull_request' }}
    needs:
    - regenerate_linux
    with:
      gcr_name: envoy-build-windows
      os_family: windows
      host_platform: windows-2019
    secrets:
      bot_key: ${{ secrets.ENVOY_CI_UPDATE_BOT_KEY }}
      bot_id: ${{ secrets.ENVOY_CI_UPDATE_APP_ID }}
