name: Envoy/build-tools
permissions:
  contents: read
on:
  push:
    branches:
    - main
  pull_request:

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    if: >-
      github.repository == 'envoyproxy/envoy-build-tools'
      || vars.ENVOY_CI_RUN == 'true'
    outputs:
      debian: ${{ fromJSON(steps.torun.outputs.runs).debian }}
      ubuntu: ${{ fromJSON(steps.torun.outputs.runs).ubuntu }}
    steps:
    - uses: actions/checkout@v5
    - uses: envoyproxy/toolshed/gh-actions/bson@actions-v0.3.30
      id: changed
      with:
        input: |
          diff: ${{ github.event_name == 'pull_request' && 'HEAD^1' || 'HEAD^1' }}
          remote: origin
          ref: ${{ github.ref_name }}
          working_directory: .
        input-format: yaml
        output-path: OUTPUT
        filter: |
          .diff as $diff
          | .remote as $remote
          | .ref as $ref
          | .working_directory as $working_directory
          | "git -C \($working_directory) fetch \($remote) \($ref) && git -C \($working_directory) diff --name-only \($diff) \($remote)/\($ref)" as $command
          | $command
          | @sh
    - run: eval '${{ steps.changed.outputs.value }}' | jq -R . | jq -sc .
      id: changed-files
      shell: bash
    - uses: envoyproxy/toolshed/gh-actions/jq@actions-v0.3.30
      id: config
      with:
        input-path: .github/config.yml
        input-format: yaml
        filter: |
          .
    - uses: envoyproxy/toolshed/gh-actions/torun@actions-v0.3.30
      id: torun
      with:
        event: ${{ github.event_name }}
        paths: ${{ steps.changed-files.outputs.stdout }}
        config: ${{ steps.config.outputs.value }}

  build_image_debian:
    needs: detect-changes
    if: >-
      (github.repository == 'envoyproxy/envoy-build-tools' || vars.ENVOY_CI_RUN == 'true')
      && (github.event_name == 'push' || needs.detect-changes.outputs.debian == 'true')
    strategy:
      fail-fast: false
      matrix:
        arch:
        - amd64
        - arm64
    name: Build (debian-${{ matrix.arch }})
    uses: ./.github/workflows/_build_image.yml
    with:
      distro: debian
      host-platform: ${{ matrix.arch }}
      runs-on: ${{ matrix.arch == 'amd64' && 'ubuntu-22.04' || 'ubuntu-22.04-arm' }}
      target-platforms: ${{ matrix.arch == 'amd64' && 'linux/amd64' || 'linux/arm64' }}

  build_image_ubuntu:
    needs: detect-changes
    if: >-
      (github.repository == 'envoyproxy/envoy-build-tools' || vars.ENVOY_CI_RUN == 'true')
      && (github.event_name == 'push' || needs.detect-changes.outputs.ubuntu == 'true')
    strategy:
      fail-fast: false
      matrix:
        arch:
        - amd64
        - arm64
    name: Build (ubuntu-${{ matrix.arch }})
    uses: ./.github/workflows/_build_image.yml
    with:
      distro: ubuntu
      host-platform: ${{ matrix.arch }}
      runs-on: ${{ matrix.arch == 'amd64' && 'ubuntu-22.04' || 'ubuntu-22.04-arm' }}
      target-platforms: ${{ matrix.arch == 'amd64' && 'linux/amd64' || 'linux/arm64' }}

  push-manifests:
    name: Create manifests (${{ github.event_name == 'pull_request' && 'dry run' || 'push' }})
    runs-on: ubuntu-latest
    needs:
    - detect-changes
    - build_image_debian
    - build_image_ubuntu
    if: >-
      always()
      && (needs.build_image_debian.result == 'success' || needs.build_image_debian.result == 'skipped')
      && (needs.build_image_ubuntu.result == 'success' || needs.build_image_ubuntu.result == 'skipped')
    permissions:
      contents: read
      packages: write
    steps:
    - uses: envoyproxy/toolshed/gh-actions/bind-mounts@actions-v0.3.28
      with:
        mounts: |
          - src: /mnt/workspace
            target: ${{ github.workspace }}
            chown: "runner:runner"
          - src: /mnt/oci
            target: /tmp/oci
            chown: "runner:runner"
    - name: 'Checkout repository'
      uses: actions/checkout@v5
    - name: Get docker SHA
      id: docker-sha
      shell: bash
      run: |
        TAG_SHA=$(git log -1 --pretty=format:"%H" ./docker)
        echo "sha=${TAG_SHA}" >> $GITHUB_OUTPUT
    - name: Determine which distros were built
      id: built-distros
      shell: bash
      run: |
        if [ "${{ github.event_name }}" = "push" ]; then
            echo "include-debian=true" >> $GITHUB_OUTPUT
            echo "include-ubuntu=true" >> $GITHUB_OUTPUT
        else
            echo "include-debian=${{ needs.detect-changes.outputs.debian }}" >> $GITHUB_OUTPUT
            echo "include-ubuntu=${{ needs.detect-changes.outputs.ubuntu }}" >> $GITHUB_OUTPUT
        fi
    - name: Generate manifest configuration (Debian)
      if: steps.built-distros.outputs.include-debian == 'true'
      id: config-debian
      uses: envoyproxy/toolshed/gh-actions/jq@actions-v0.3.26
      with:
        input-format: yaml
        filter: >-
          {manifests: .}
        input: |
          - name: envoy-build
            tag: devtools-${{ steps.docker-sha.outputs.sha }}
            registry: docker.io/envoyproxy
            architectures:
            - amd64
            - arm64
            artifact-pattern: oci-debian-{arch}/debian-devtools-${{ steps.docker-sha.outputs.sha }}-{arch}.tar
          - name: envoy-build
            tag: ci-${{ steps.docker-sha.outputs.sha }}
            registry: docker.io/envoyproxy
            architectures:
            - amd64
            - arm64
            artifact-pattern: oci-debian-{arch}/debian-ci-${{ steps.docker-sha.outputs.sha }}-{arch}.tar
          - name: envoy-build
            tag: worker-${{ steps.docker-sha.outputs.sha }}
            registry: docker.io/envoyproxy
            architectures:
            - amd64
            - arm64
            artifact-pattern: oci-debian-{arch}/debian-worker-${{ steps.docker-sha.outputs.sha }}-{arch}.tar
          - name: envoy-build
            tag: worker-${{ steps.docker-sha.outputs.sha }}
            registry: gcr.io/envoy-ci
            architectures:
            - amd64
            - arm64
            artifact-pattern: oci-debian-{arch}/debian-worker-${{ steps.docker-sha.outputs.sha }}-{arch}.tar
          - name: envoy-build
            tag: gcc-${{ steps.docker-sha.outputs.sha }}
            registry: docker.io/envoyproxy
            architectures:
            - amd64
            - arm64
            artifact-pattern: oci-debian-{arch}/debian-gcc-${{ steps.docker-sha.outputs.sha }}-{arch}.tar
          - name: envoy-build
            tag: gcc-${{ steps.docker-sha.outputs.sha }}
            registry: gcr.io/envoy-ci
            architectures:
            - amd64
            - arm64
            artifact-pattern: oci-debian-{arch}/debian-gcc-${{ steps.docker-sha.outputs.sha }}-{arch}.tar
          - name: envoy-build
            tag: docker-${{ steps.docker-sha.outputs.sha }}
            registry: docker.io/envoyproxy
            architectures:
            - amd64
            - arm64
            artifact-pattern: oci-debian-{arch}/debian-docker-${{ steps.docker-sha.outputs.sha }}-{arch}.tar
          - name: envoy-build
            tag: test-${{ steps.docker-sha.outputs.sha }}
            registry: docker.io/envoyproxy
            architectures:
            - amd64
            - arm64
            artifact-pattern: oci-debian-{arch}/debian-test-${{ steps.docker-sha.outputs.sha }}-{arch}.tar
          - name: envoy-build
            tag: llvm-${{ steps.docker-sha.outputs.sha }}
            registry: docker.io/envoyproxy
            architectures:
            - amd64
            artifact-pattern: oci-debian-{arch}/debian-llvm-${{ steps.docker-sha.outputs.sha }}-{arch}.tar
          - name: envoy-build
            tag: mobile-${{ steps.docker-sha.outputs.sha }}
            registry: docker.io/envoyproxy
            architectures:
            - amd64
            artifact-pattern: oci-debian-{arch}/debian-mobile-${{ steps.docker-sha.outputs.sha }}-{arch}.tar
    - name: Generate manifest configuration (Ubuntu)
      if: steps.built-distros.outputs.include-ubuntu == 'true'
      id: config-ubuntu
      uses: envoyproxy/toolshed/gh-actions/jq@actions-v0.3.26
      with:
        input-format: yaml
        filter: >-
          {manifests: .}
        input: |
          - name: envoy-build-ubuntu
            tag: ci-${{ steps.docker-sha.outputs.sha }}
            registry: docker.io/envoyproxy
            architectures:
            - arm64
            - amd64
            artifact-pattern: oci-ubuntu-{arch}/ubuntu-ci-${{ steps.docker-sha.outputs.sha }}-{arch}.tar
          - name: envoy-build-ubuntu
            tag: mobile-${{ steps.docker-sha.outputs.sha }}
            registry: docker.io/envoyproxy
            architectures:
            - amd64
            artifact-pattern: oci-ubuntu-{arch}/ubuntu-mobile-${{ steps.docker-sha.outputs.sha }}-{arch}.tar
          - name: envoy-build-ubuntu
            tag: test-${{ steps.docker-sha.outputs.sha }}
            registry: docker.io/envoyproxy
            architectures:
            - amd64
            artifact-pattern: oci-ubuntu-{arch}/ubuntu-test-${{ steps.docker-sha.outputs.sha }}-{arch}.tar
          - name: envoy-build-ubuntu
            tag: full-f8d1fd9bdac3a7843d1e69816456648989d238be
            registry: docker.io/envoyproxy
            architectures:
            - amd64
            - arm64
            artifact-pattern: oci-ubuntu-{arch}/ubuntu-full-${{ steps.docker-sha.outputs.sha }}-{arch}.tar
            additional-tags:
            - ${{ steps.docker-sha.outputs.sha }}
          - name: envoy-build
            tag: ${{ steps.docker-sha.outputs.sha }}
            registry: gcr.io/envoy-ci
            architectures:
            - amd64
            - arm64
            artifact-pattern: oci-ubuntu-{arch}/ubuntu-full-${{ steps.docker-sha.outputs.sha }}-{arch}.tar
    - name: Merge manifest configurations
      id: config
      shell: bash
      run: |
        DEBIAN_CONFIG='${{ steps.config-debian.outputs.value }}'
        UBUNTU_CONFIG='${{ steps.config-ubuntu.outputs.value }}'
        if [ "${{ steps.built-distros.outputs.include-debian }}" = "true" ] && [ "${{ steps.built-distros.outputs.include-ubuntu }}" = "true" ]; then
            MERGED=$(echo "$DEBIAN_CONFIG" "$UBUNTU_CONFIG" | jq -s '{"manifests": (.[0].manifests + .[1].manifests)}')
        elif [ "${{ steps.built-distros.outputs.include-debian }}" = "true" ]; then
            MERGED="$DEBIAN_CONFIG"
        elif [ "${{ steps.built-distros.outputs.include-ubuntu }}" = "true" ]; then
            MERGED="$UBUNTU_CONFIG"
        else
            MERGED='{"manifests": []}'
        fi
        echo "value<<EOF" >> $GITHUB_OUTPUT
        echo "$MERGED" >> $GITHUB_OUTPUT
        echo "EOF" >> $GITHUB_OUTPUT
    - name: Collect and push OCI artifacts
      uses: envoyproxy/toolshed/gh-actions/oci/collector@actions-v0.3.26
      with:
        manifest-config: ${{ steps.config.outputs.value }}
        dry-run: ${{ github.event_name == 'pull_request' }}
        dockerhub-username: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' && secrets.DOCKERHUB_USERNAME || '' }}
        dockerhub-password: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' && secrets.DOCKERHUB_PASSWORD || '' }}
        gcr-key: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' && secrets.GCP_SERVICE_ACCOUNT_KEY || '' }}
